
#imgShow{
    display: flex;
    height: 250px;
    width: 250px;
    margin-left: 12px;
    margin-bottom: 15px;
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

#icon{
    margin-top: 50%;
    margin-left: 25%;
    font-size: 150px;
}

#icon:hover{
    cursor: pointer;
}

#imgPreview{
    display: none;
    height: 250px;
    width: 320px;
    margin-left: -14px;
}

#TipoDeBolo{
    margin-bottom: 15px;
}


.email{
    display: flex;
}

#envelope{
    margin-right: 12px;

}

.numero{
    display: flex;
}

#whatsapp{
    margin-right: 12px;
}

#cadastro{
   margin-left: 20px;
   padding-right: 20px;
}



 .img-bolodecenoura{
    margin-top: 30px;
    width: 900px;
    border-radius: 15px;
    margin-left: 180px;
}

.title{
  
  margin-top: 30px;
  margin-bottom: 30px;
}

.igredientes{
  margin-top: 100px;  
  text-align: center;
}

.list{
    margin-top: 20px;
    
}

li{
    line-height: 40px;
}

h2{
    text-align: center;
    font-size: 20px;
}


#linkCadastro{
    text-decoration: none;
    color:black;
}

#linkCadastro:hover{
    color: white;
}

.header{
    margin-left: 10px;
}

#c1 {
    width: 600px;
    margin: auto;
    padding: 20px;
    border-color: rgb(255 170 91);
    font-weight: 300;
    margin-top: 40px;
}

#c2{
    width: 600px;
    margin: auto;
    padding: 20px;
    border-color: rgb(255 170 91);
    font-weight: 300;
    margin-top: 40px;
}

#c3{
    width: 600px;
    margin: auto;
    padding: 20px;
    border-color: rgb(255 170 91);
    font-weight: 300;
    margin-top: 40px;
}

.card{
    border-color: rgb(255 170 91);
}

p{
    text-align: center;
}

h1{
    text-align: center;
}

@media screen and (max-width: 992px){
    
    .card{
        display: block !important;
        
    }

    .cartaz{
    width: 100% !important;
    margin-top: 10px !important;
    }

    #cadastro{

    }
}

 
